@import url(https://fonts.bunny.net/css?family=alata:400|bakbak-one:400|baumans:400|poppins:300);


:root {
    --bd-color: #0f172a14;
    --main-bg: #f4f7fd;
    --color: #222;
    --bl: #16151B;
    --footer: #FFF;
    --active: #D5FD00;
    --iactive: #FFFEFA;
    --content:#FFF;
    
}

:root {
    --bd-color:#2F3545;
    --main-bg:#0E121D ;
    --color:  #FFF;
    --bl: #16151B;
    --footer:#1C212E;
    --active: #D5FD00;
    --iactive: #2B2E41 ;
    --content:#23253A;   
}

@font-face {
    font-family: 'nasalization';
    src: url('data/nasalization-rg.woff2') format('woff2'),
         url('data/nasalization-rg.woff') format('woff'),
         url('data/nasalization-rg.otf') format('truetype');
    font-weight: normal; 
    font-style: normal;  
}

@font-face {
    font-family: 'hritik';
    src: url('data/hritik.woff2') format('woff2'),
         url('data/hritik.woff') format('woff'),
         url('data/hritik.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;  
}


*{
    outline: none;
    border:none;
    font-family: 'Alata', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    user-select: none; 
    cursor:help;  
}

.active{
    border-color: var(--active);
}

h4{
    color: var(--active);
}

main p{
    font-family: "Poppins", sans-serif;
}

h1{
    font-family: 'Bakbak One', display;
    
    font-size:30px;
}

h2{
    
}

main .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--iactive);
    clip-path: circle(70% at right -20%);
    z-index:2;
    display: grid;
    place-items: top;
    padding-left: 100px;
     --s: 37px;
  --c1: var(--content);
  --c2: var(--main-bg);
  
  --c:#0000,var(--c1) .5deg 119.5deg,#0000 120deg;
  --g1:conic-gradient(from  60deg at 56.25% calc(425%/6),var(--c));
  --g2:conic-gradient(from 180deg at 43.75% calc(425%/6),var(--c));
  --g3:conic-gradient(from -60deg at 50%   calc(175%/12),var(--c));
  background:
    var(--g1),var(--g1) var(--s) calc(1.73*var(--s)),
    var(--g2),var(--g2) var(--s) calc(1.73*var(--s)),
    var(--g3) var(--s) 0,var(--g3) 0 calc(1.73*var(--s)) 
    var(--c2);
  background-size: calc(2*var(--s)) calc(3.46*var(--s));
}

main .lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 100vw;
}

.line {
  position: absolute;
  width: .5px;
  height: 100%;
  top: 0;
  left: 50%;
  background: var(--bd-color);
  overflow: hidden;
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: drop 7s 0s infinite;
          animation: drop 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line:nth-child(1) {
  margin-left: -25%;
}
.line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.line:nth-child(3) {
  margin-left: 25%;
}
.line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes drop { 
   
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

body{
   display: grid;
   place-items:center;
   grid-template-columns:1fr;
   grid-template-rows: 3rem auto auto;
   width: 100%;
   height: 100%;   
}

@media (max-width: 299px) {
    body {
        display: none;
    }
    
   body::after {
  content: "HRITIK";
  position: absolute;
  top: .9em;
  right:0.5em;
  font-weight: 600;
  font-size: 10em;
  color: rgba(0, 0, 0, 0.1);
  transform: rotate(270deg) !important;
}
}

@media (min-width: 400px) and (max-width: 800px) {
    body {
        display: grid;
    }
}

@media (min-width: 1100px) and (max-width: 3000px) {
    body {
        display: none;
    }
}

header { 
   grid-area: 1 / 2 / 2 / 3;   
   width: 100%;
   height:3rem;
   background:var(--main-bg);
   color: var(--color);
   border-bottom:2px solid var(--bd-color);
   display: grid;
   place-items:center;
   grid-template-columns:60px 5fr  1fr;
   grid-template-rows: 1fr;
   position: sticky;
   top:0;
   z-index:3;
}

header .logo{
    width: 100%;
    height: 100%;
    display: grid;
    place-items:center;
}



header .sidebtn{
    float:right;
    right:0;
    width: 40px;
    height: 40px;
    display: grid;
    place-items:center;
    font-size:24px;
}

footer { 
  grid-area: 3 / 2 / 4 / 3; 
  width: 100%;
  height:min(40em);
  background:var(--footer);
  color: var(--color);
  display: grid;
  place-items:left;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  padding: 0 15px 0 15px ;
  font-size:16px;
}

footer .logos{
  width: 100%;
  height: 60px;
  display: grid;
  place-items:center;
  grid-area: 1 / 1 / 2 / 3;
}

footer .newsletter{
  grid-area: 2 / 1 / 3 / 3;
  background: var(--iactive);
  color: var(--);
  height: 8em;
  display: grid;
  place-items:center;
  font-weight:800;
  padding:10px;
}

footer .newsletter p{
    font-family: 'baumans';
    font-size:25px;
    float: right;
}

footer .about{
    grid-area: 3 / 1 / 4 / 3;
    display: grid;
    place-items:left;
}

footer .links{
    grid-area: 4 / 1 / 5 / 2;
    display: grid;
    place-items:left;
}

footer .product{
    grid-area: 4 / 2 / 5 / 3;
}

footer .socials{
   grid-area: 5 / 1 / 6 / 3;
   height: 40px;
   display: grid;
   place-items:center;
   font-size:14px;
   grid-template-columns:1fr repeat(5, 1fr);
   grid-template-rows:  1fr;
   grid-column-gap: 10px;
   border-top:1.5px solid var(--bd-color);
   padding:15px;
}

footer .socials iconify-icon{
    width: 42px;
    height: 42px;
    background: var(--iactive);
    color:var(--color);
    border-radius:50%;
    font-size:20px;
    display: grid;
    place-items:center;
    border:2px solid var(--bl);
}

paddle{
   grid-area: 4 / 2 / 4 / 3; 
   width: 100%;
   height:3rem;
   background:var(--iactive);
   color: var(--color);
   border-top:1.5px solid var(--bd-color);
   display: grid;
   place-items:center;
   font-family: 'nasalization';
   font-size: 12px;
   position: relative;
   bottom:0;
}


main { 
   grid-area: 2 / 2 / 3 / 3; 
   width:100%;      
   height: auto;
   height: min(100vh) max(1000px);   
   background: var(--main-bg);
   color: var(--color);
   display:grid;
   overflow-x: hidden;  
   place-items:left center;
   grid-column-gap: 10px;
   grid-row-gap:15px;
   padding:16px;  
   background-image: radial-gradient(var(--iactive), var(--main-bg));
}   

main .landing{
    width: 100%;
    height: 100%;
    z-index:2;
    display: grid;
    place-items: left;
    padding-top: 14em;
}


main .landing .name{
  background: linear-gradient(to right, #f9d00f, #fbff64);
	background-size: 100%;
	background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.5));
  text-outline: 1px solid black;
  font-size: 5em;
  font-family: 'nasalization';
  font-weight: 900;
  line-height: .8;
  z-index:0;
  transform: rotate(-8deg) skew(-15deg);
}

main .landing .potimg{
    display: grid;
    place-items:center;
    width: 100%;
    height: 100%;
}

main .landing .pot{
    width: 25em;
    height: 25em;
}

main .landing svg {
  width: 10em;
  position: absolute;
  margin-top: 11em;
}  

svg:hover .textcircle {
    transform: scale(1.2) rotate(90deg);
}


.textcircle {
  transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
  transform-origin: 250px 250px;
}

text {
  font-size: 22px;
  font-family: Roboto;
  font-weight: 500;
  text-transform: uppercase;
  font-variant-ligatures: none;
  fill: white;
  letter-spacing: 6px;
  animation: rotate 25s linear infinite;
  transform-origin: 250px 250px;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

main  .card {
  position: relative;
  width: 100%;
  height: 30em;
  background: var(--content);
  border-radius: 20px;
  overflow: hidden;
  display: grid;
  place-items:center;
  box-shadow: 2px 4px 16px rgb(0 0 0 / 6%);
}

main .card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background:var(--active) ;
  transform: skewY(345deg) !important;
  transition: 0.5s;
}
main  .card:hover::before {
  top: -60%;
  transform: skewY(390deg) !important;
}
main .card::after {
  content: "HRITIK";
  position: absolute;
  top: .9em;
  right:0.5em;
  font-weight: 600;
  font-size: 10em;
  color: rgba(0, 0, 0, 0.1);
  transform: rotate(270deg) !important;
}
main  .card .card-img {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}
main  .card .card-img img {
  max-width: 100%;
  transition: 0.5s;
}
main  .card:hover .card-img img {
  max-width: 70%;
}
main .landing .card:hover .card-infos .buy {
  top: 10px;
  opacity: 1;
}
main  .card .card-infos {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}


main .card .card-infos h3 {
  font-size: 18px;
  color:var(--color);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
main .card .card-infos .tip-title {
  font-size: 24px;
  color: var(--active);
  font-weight: 500;
  letter-spacing: 1px;
  margin-top:1em;
}

main .profile{
    width: 100%;
    height: 15rem;
    background: var(--content);
    font-size:14px;
    display: grid;
    place-items:center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    border-radius:1.5rem;
    grid:1.5rem;
    border:2px solid var(--bd-color);
    padding: 10px;
}

main .profile img{
    grid-area: 1 / 1 / 4 / 2;
    border-radius:1rem;
    width:100%;
    height: 100%;
    border-radius:1rem;
    background: var(--iactive);
}

main .profile sec h3{
    font-size:24px;
}

main .profile sec{
    width: 100%;
    height: 3rem;
}

main .profile span{
    width: 100%;
    height: 6rem;
    background: var(--iactive);
    display: grid;
    place-items:center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    border-radius:1rem;
    padding: 10px;
}

main .profile span p{
    font-size:12px;
}

main .profile buttons{
    width: 100%;
    height: 2rem;
    display: grid;
    place-items:center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
}

main .profile button{
    width: 100%;
    height: 2rem;
    display: grid;
    place-items:center;
    background: var(--active);
    color: var(--bl);
    border-radius:1rem;
}

main .profile buttons .msgbtn{
    width: 100%;
    height: 2rem;
    display: grid;
    place-items:center;
    background: var(--contant);
    color: var(--color);
    border-radius:1rem;
    border:1.5px solid var(--bd-color);
}

.carousel-wrapper {
  --width: 100px;
  --gap: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.carousel-wrapper::before,
.carousel-wrapper::after{
  content: '';
  position: absolute;
  width: 20%;
  height: 100%;
  z-index: 1;
  top: 0;
}
.carousel-wrapper::before{
  left: 0;
  background-image: linear-gradient(to right,var(--main-bg) 0%,transparent 50%);
}
.carousel-wrapper::after{
  right: 0;
  background-image: linear-gradient(to left,var(--main-bg) 0%,transparent 50%);
}

@keyframes infiniteLoop {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(calc(-100px * 10), 0, 0);
    }
}

.carousel {
  display: flex;
  align-items: center;
  animation: infiniteLoop 10s linear infinite;
  animation-fill-mode: forwards;
  will-change: transform;
}
.item{
  flex: 1 0 var(--width);
  text-align: center;
  padding:1rem;
}
.item:last-child{
  /*background: red;*/
}
.item > iconify-icon{
  font-size:4rem;
}

@keyframes slide {
  100% {
    transform: translateX(var(--ani-offset));
  }
}


